.card-img-top.rounded-circle {
  border-radius: 50%; /* Make the image round */
}

.values {
  background-color: rgba(0, 0, 0, 0.5); /* 50% opacity black */
  color: white;
  padding: 6px;
  margin-right: 5px;
  border-radius: 10px;
}


.portfolio{
  background-color: rgba(0, 0, 0, 0.5); /* 50% opacity black */
  color: white;
  padding: 6px;

  border-radius: 10px;
}

