.card-img-top.rounded-circle {
  border-radius: 50%; /* Make the image round */
}

.values {
  background-color: rgba(0, 0, 0, 0.5); /* 50% opacity black */
  color: white;
  padding: 6px;
  margin-right: 5px;
  border-radius: 10px;
}


.portfolio{
  background-color: rgba(0, 0, 0, 0.5); /* 50% opacity black */
  color: white;
  padding: 6px;

  border-radius: 10px;
}

.about-us-container {
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



.sweet-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
